/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 220px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 220px;
  background-color: #E8E8E8;
  padding: 30px 0;
}

@media only screen and(max-width: 768px) {
body { margin-bottom: 400px;}

.footer {height: 400px; }
}

.well {
	background-color: #F5F9FA;

}

/*html*/

body{
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	word-spacing: 1.5px;
}

h3 {
	color: #81D4F7;
	font-stretch: bold;
}

.glyphicon {
	color: #81D4F7;
}

/* NAVBAR */
.navbar {
	background-color: #80E8FF;
}

.icon-bar {
	color: #000000;
}

.feedback {
	background-color: #81D4F7;
	margin-bottom: 10px;
}

.logo {
	height: 35px;
	width: 350px;

}

.hero {
	padding-bottom: 20px;
	padding-top: 20px;
}

.conta{
	font-style: strong;
}


.img{
	width: auto;
	height: auto;
}

.container {
	max-width: 960px;
	padding-top: 10px;
}

.footer p{
	font-size: 16px;
}

.titulos{
	color: #009ed9;
	font-size: 28px;
	font-style: bold;
}

.navbar a {
	color: #009ed9;
}



